@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply  text-black relative; /* Fundo preto e texto branco */
  }

  button {
    @apply hover:scale-110 transition-all duration-100;
  }

  input {
    @apply px-4 py-2 bg-white text-black rounded-xl; /* Fundo branco e texto preto */
  }
}

@layer utilities {
  .btn {
    @apply self-start px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-danger {
    @apply border bg-black border-white text-white; /* Botão de perigo com fundo preto e texto branco */
  }

  .btn-primary {
    @apply border border-black text-black; /* Botão de contorno primário com texto branco */
  }
  .btn-primary-outline {
    @apply border border-black text-black; /* Botão de contorno primário com texto branco */
  }

  .input-group {
    @apply flex flex-col gap-4;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}